<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main>
      <h1>All Users</h1>
      <div class="card-container">
        <% profiles.forEach(profile=> { %>
          <a class="text-decoration-none" href="/profiles/<%= profile._id %> ">
            <div class="card">
              <img src="<%= profile.avatar %> " alt="<%= profile.name %> avatar ">
              <div class="card-body">
                <h1 class="card-title">
                  <%= profile.name %>
                </h1>
                <form action="/profiles/adminList/<%= profile._id %> " method="POST">
                  <button type="submit" class="btn <%= profile.isAdmin ? 'btn-danger':'btn-primary' %> "><%= profile.isAdmin ? 'Demote':'Elevate'  %> </button>
                </form>
              </div>
            </div>
          </a>
          <% }) %>
      </div>
    </main>

    <%- include('../partials/footer') %>